{% extends "base.html" %}

{% block title %}
{{ post.title }} | {% if post.location and post.location.is_published %}{{ post.location.name }} | {% endif %}{{ post.pub_date|date:"d E Y" }}
{% endblock %}

{% block content %}
<p>{{ post.pub_date|date:"d E Y" }} | {% if post.location and post.location.is_published %}{{ post.location.name }}{% else %}Планета Земля{% endif %}</p>
<p>От автора @{{ post.author.username }} в категории {% include "includes/category_link.html" %}</p>
<h1>{{ post.title }}</h1>
<p>{{ post.text|linebreaksbr }}</p>
{% endblock %}
